.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: peachpuff;
}

.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 25px;
    padding-top: 0px;
}
